parameters:
  level: max
  paths: [src, tests]

  tmpDir: .cache/phpstan

  checkFunctionNameCase: true
  treatPhpDocTypesAsCertain: false

  exceptions:
    implicitThrows: false

    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true

    uncheckedExceptionClasses:
      - League\CommonMark\Exception\AlreadyInitializedException
      - RuntimeException

  ignoreErrors:
    - message: /^Method .+ throws checked exception League\\CommonMark\\Exception\\CommonMarkException but it's missing from the PHPDoc @throws tag\.$/
      path: tests/*
